#text {
  float: right;  
  clear:right;
  max-width: 460px ; 
  padding-left: 70px; 
  padding-right: 70px;
} 

div{
    max-width: 1200px; 
}

#price {
  color: hsl(158, 36%, 37%) ;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  display: flex;
  font-size: 60px; 
}

del{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px; 
    display: flex; 
    margin: auto;
    color:black;
    opacity: 0.7;
    font-weight: 500;
} 

h1 {
    font-family: 'Fraunces', serif; 
    font-size: 60px ; 
}

.montserat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    opacity: 0.7;
    line-height: 1.7;
    letter-spacing: 1px;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: hsl(158, 36%, 37%);
    position: inherit;
    display: block;
    margin: auto;
    font-size: 40px;
    padding: 15px 100px; 
    margin-top: 50px;
    border-radius: 20px;
    border: none;
    color: white;
}
svg {
    color: white;
    width: 30px;
    margin-right: 10px;
    height: 30px;
}
button:hover{
    background-color: hsl(158, 50%, 16%) ;
}  